

/* .slideword h1{
    height: 0px;
    margin-top: 0px;
    
/ */
    
html,body{
  padding: 0px;
  margin:0px;
background-image:url("../images/signin/backg.jpg");
 background-repeat: no-repeat;
background-size:cover;

} 

.header{
  background-color: white; /*check this out i added this part */
  width:100%;
  height: 80px;
  
}


.logo img{

  width: 80px;
  height: 80px;
  float: left;

}


.socielicons img{
  width: 26px;
  height: 26px;
  float: right;
  margin-top: 50px;
  padding-right: 2px;
  
 
}


                          /*Register button Source:youtube*/
.regbtn{
  position: absolute;
   top:2px;
  right:5px;
margin: 4px;
padding: 4px;
 font-family:Arial, Helvetica, sans-serif ; /*changed by me*/
letter-spacing: 1px;
border-radius: 20px;
background:linear-gradient(to right,#56ccf2,#14417c);
border:0;
cursor: pointer;

}

.regbtn::before,
.regbtn::after{
  content: '';
  left:0;
  right:0;
  top:0;
  bottom:0;
  background:linear-gradient(to right,#56ccf2,#14417c);
  border-radius: 20px;
  transition:all .5s ease-in-out;
}

.regbtn:hover::before{
  filter:blur(5px);
}
.regbtn:hover::after{
  filter:blur(15px);
}
.regbtn:hover{
  animation: hue 3s linear infinite;
}
@keyframes hue{
  0%{
      filter:hue-rotate(0deg);
  }
  100%{
      filter:hue-rotate(360deg);
  }
}

.regbtn span{
  padding:8px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  background-color: #2c2e36;
  border-radius: 17px;
  text-transform: uppercase;
}
  
                                              /*Register Button end */


          




                                              /*yt header new part*/
.animated-text{
  color: #fff;
  position: absolute;
  top: 6.98%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #062438;
  padding: 0 40px;
  height: 60px;
  overflow: hidden;
  z-index: 1;
}

.line{
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  line-height: 60px;
}

.line:first-child{
  animation: anim 12s infinite;
}

@keyframes anim {
  0%{
    margin-top: 0;
  }
  16%{
    margin-top: -60px;
  }
  33%{
    margin-top: -120px;
  }
  50%{
    margin-top: -180px;
  }
  66%{
    margin-top: -120px;
  }
  82%{
    margin-top: -60px;
  }
  100%{
    margin-top: 0;
  }
}
                                          /*yt header new part end*/







                                              /*navigation bar*/
.nav ul{
  float: right;
  list-style: none;
  background-color: #2c2e36;
  margin-top: 0px;
  width: 100%;
  }
  
.nav ul li{
      position: relative;
      float: left;
}
  
.nav ul li a{
      display: block;
      padding: 10px;
      padding-left: 35px;
      padding-right: 35px;
      font-family: Arial, Helvetica, sans-serif;
      text-decoration: none;
      color: white;
      font-weight: bolder;
      font-size: 19px;
}

.nav ul li a:hover{
      color: black;
      background-color: whitesmoke;
}

                              /*navigation bar end*/







                              /* sign in begin */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

/* body{
  background: #3aaf9f;
} */

.wrapper{
  /* max-width: 350px;
  width: 100%;
  height: auto;
  background: darkgrey;
  padding: 60px 45px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 20px; */
 
  width: 320px;
	height: 420px;
	background: rgba(0, 0, 0, 0.5); 
	color: #fff;
	top: 68%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
    border-radius: 20px;
    font-family: 'Josefin Sans', sans-serif;
}

.wrapper .title{
  margin-bottom: 20px;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  color: #fff;
}

.wrapper .social_media{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.wrapper .social_media .item{
  margin: 0 5px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 2px solid #eeeeee;
  border-radius: 50%;
  cursor: pointer;
  color: #eeeeee;
  transition: all 0.5s ease;
}

.wrapper .social_media .item:hover{
  border: 2px solid #ffc107;
  color: #ffc107;
}

.wrapper .form .input_field{
  position: relative;
  margin-bottom: 10px;
}

.wrapper .form .input_field .input{
  width: 100%;
  padding: 12px;
  padding-left: 30px;
  border: none;
  background: #eeeeee;
}

.wrapper .form .btn{
  width: 70%;
  margin: 20px auto 0;
  background: #fb2525;
  text-align: center;
  padding: 12px;
  border-radius: 25px;
  
}

.wrapper .form .btn a{
  color: #fff;
}

.wrapper .form .input_field i{
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 14px;
  color: #1d2120;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #1d2120;
}
::-moz-placeholder { /* Firefox 19+ */
 color: #1d2120;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #1d2120;
}
                              /* sign in end*/








                            /* footer design start */

 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* body{
  background: #fcfcfc;
} */

footer{
  position: absolute;
  top: 700px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: 50%;
  width: 100vw;
  font-family: cursive;
  padding-top: 40px;
  color: #fff;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #fff;
}
.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;

}
.socials a:hover i{
  color: aqua;
}

.footer-bottom{
  background: #000;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

                            /* footer design end */










